.tag-span {
    margin: 0px 5px;
    padding: 3px 7px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 0.8;
    text-transform: capitalize;
}

.normal {
    background-color: #A8A77A;
}

.fighting {
    background-color: #C22E28;
}

.flying {
    background-color: #A98FF3;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.rock {
    background-color: #B6A136;
}

.bug {
    background-color: #A6B91A;
}

.ghost {
    background-color: #735797;
}

.steel {
    background-color: #B7B7CE;
}

.fire {
    background-color: #FF421C;
}

.water {
    background-color: #6390F0;
}

.grass {
    background-color: #78CD54;    

}

.electric {
    background-color: #F7D02C;
}

.psychic {
    background-color: #F95587;
}

.ice {
    background-color: #96D9D6;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.fairy {
    background-color: #D685AD;
}

.unknown {
    background-color: #000000;
}

.shadow {
    background-color: #301f2d;
}
