.detail {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82vh;
    border-radius: var(--border-radius);
    background-color: var(--white);
    margin: 0px 15px;
    
    .detail-wrapper {
        text-align: center;
        overflow-y: auto;
    }

    .detail-wrapper::-webkit-scrollbar {
        width: 5px;
    }

    .detail-wrapper::-webkit-scrollbar-thumb {
        border-radius: 100rem;
    }
   
    //Unselect pokemon
    .detail-img {
        position: absolute;
        bottom: 77vh;
        height: 207px;
        object-fit: contain;
        image-rendering: pixelated;
        max-width: 350px;
        max-height: 22vh;
    }

    .detail-text {
        width: 150px;
        margin-top: 400px;
        text-align: center;
        font-size: 1.8rem;
        color: #8F9396;
        font-weight: 500;
    }


    //Select pokemon
    .detail__mt {
        margin-top: 10px;
    }

    h3 {
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
    }

    .detail-gif {
        position: absolute;    
        bottom: 77vh;
        height: 207px;
        margin-right: auto;
        margin-left: auto;
        object-fit: contain;
        image-rendering: pixelated;
        max-width: 350px;
        max-height: 22vh;
    }

    .detail-id {
        color: #8F9396;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .detail-name {
        margin: 0;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 800;
    }

    .detail-entry {
        text-align: center;
        line-height: 1.5rem;
        font-size: 1.3rem;
        font-weight: 450;
        padding: 0px 30px;
        color: #8F9396;
    }

    .detail-info {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .detail-abilities {
        width: 100%;
    }

    .detail-properties {
        font-weight: 400;
        width: 100px;
        text-align: center;
        background-color: #F6F8FC;
        padding: 2px 0px;
        border-radius: 30px;
        margin: 5px;
        text-transform: capitalize;
    }

    .detail-stats {
        margin: auto;
        width: 90%;
    }

    .stats {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.detail-evolution {
    width: 100%;

    img{
        width: 60px;
    }

    .detail-chain {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .detail-properties {
        height: 50%;
        width: 40px;
    }
}

.slideIn {
    animation: slideIn ease-in-out 1s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        right: -500px;
    }
    to {
        right: calc(0vw - 10px);
    }
}
